.interests {
  min-height: 70vh;
  width: 80vw;
  margin: 100px auto;

  &-header {
    @extend %text-format-salmon-600;
    margin-bottom: 50px;
  }

  &-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  &-logo {
    width: 10vw;
    max-width: 250px;
    height: 50%;
  }
}
