// Allow for miscellaneous styling of elements that are not related to other blocks

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-align-center {
  text-align: center;
}
