$primary-color: #fd8787;
$secondary-color: #aed6dc;
$back-color: #fefaf8;
$darker-back-color: #fff5f0;

$color-palette-one: #a8e6ce;
$color-palette-two: #dcedc2;
$color-palette-three: #ffd3b5;
$color-palette-four: #ffaaa6;
$color-palette-five: #ff8c94;
