@import '../../abstracts/placeholders.scss';
@import '../../abstracts/variables.scss';

// Footer.jsx
.footer {
  min-height: 20vh;
  max-width: 600px;
  margin: 100px auto 100px auto;
  text-align: center;

  &-heading {
    @extend %text-format-salmon-600;
    margin-bottom: 15px;
  }

  &-divider {
    color: #fa9b9b;
  }

  &-links {
    display: flex;
    justify-content: center;
  }

  &-mail {
    border-right: 1px dotted #fa9b9b;
  }

  &-mail,
  &-linkedin {
    @extend %text-format-salmon-600;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
  }

  &-mail:hover,
  &-linkedin:hover {
    color: #fa9b9b;
  }
}
