.progress-bar {
  background: #aed6dc;
  transform-origin: top left;
  transform: scale(0, 0);
  height: 6px;

  &-container {
    position: fixed;
    z-index: 10;
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    top: 0;
    left: 0;
    height: 6px;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ffa473;
  border-radius: 12px;
  border: none;
  padding: 0;
  outline-offset: 4px;
  font-size: 50px;

  &__arrow {
    display: block;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #ffbd99;
    color: white;
    transform: translateY(-6px);
    font-weight: 500;
  }
}

.back-to-top:active .back-to-top__arrow {
  transform: translateY(-2px);
}
